#settings
{
	background-color:#ccc;
    height:500px;
    left:50%;
    margin-left:-200px;
	margin-top:-250px;
    padding:0;
    position:absolute;
	top:50%;
	width:400px;
	z-index:1;
}
#set_row_number
{
	font-size:15px;
    left:50px;
    margin:0;
    padding:0;
    position:absolute;
	top:50px;
}
#set_refresh_time
{
	font-size:15px;
	left:50px;
    margin:0;
	padding:0;
    position:absolute;
	top:100px;
}
#set_ratio
{
	font-size:15px;
    left:50px;
	margin:0;
	padding:0;
    position:absolute;
    top:150px;
}
#set_style
{
	font-size:15px;
	left:50px;
	margin:0;
	padding:0;
    position:absolute;
    top:200px;
}
#row_number_input
{
	font-size:15px;
    height:15px;
    left:200px;
    margin:0;
	padding:0;
    position:absolute;
    top:0;
    width:50px;
}
#refresh_time_input
{
	font-size:15px;
    height:15px;
    left:200px;
    margin:0;
	padding:0;
    position:absolute;
	top:0;
    width:50px;
}
#ratio_input
{
	font-size:15px;
    height:15px;
    left:200px;
    margin:0;
	padding:0;
    position:absolute;
	top:0;
    width:50px;
}
#enter
{
	font-size:15px;
    left:90px;
    margin:0;
	padding:0;
    position:absolute;
	top:400px;
	width:230px;
}

.style_div
{
	cursor:pointer;
    position:absolute;
	text-align:center;
    width:75px;
}